@model LearnToExcel.Core.Models.InstructorViewModels.InstructorIndexData
@{
    ViewBag.Title = "Instructors";

}
<section class="content-header">
    <h1>Instructors</h1>
    <br /> 
    <div class="box box-primary">
      
        <!-- /.box-header -->
        <div class="box-body">
            <p>
                <a asp-controller="Instructor" asp-action="Create">Create New Instructor</a>
                
            </p>
            
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2">First Name</div>
                    <div class="col-md-4">
                        <input type="text" id="filterFirstName" class="form-control dtsearch" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">Surname</div>
                    <div class="col-md-4">
                        <input type="text" id="filterSurname" class="form-control dtsearch" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" class="btn btn-default btn-sm" id="filterBtn" value="Search" />
                    </div>
                </div>
            </div>
           

            @*<table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Start Date</th>
                    <th>Email</th>
                    <th>Courses</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Instructors)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HireDate)
                        </td>
                        <td>@item.Email</td>
                        <td>
                            @{
                                foreach (var course in item.Courses)
                                {
                                    @course.CourseId
                                    @: @course.Title - @course.Department.Name <br/>
                                }
                            }
                        </td>

                        <td>
                            <a class="btn btn-link" asp-controller="Instructor" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-link" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                            
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-open" role="document">
                                    <div class="modal-content">
                                        <form method="post" asp-controller="Instructor" asp-action="Delete" asp-route-id="@item.Id" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete: @item.FirstName &nbsp; @item.Surname ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </table>*@
            
            <table id="example" class="table table-bordered table-striped nowrap">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Start Date</th>
                    <th>Email</th>
                    <th>Courses</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>

            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-open" role="document">                    
                    <div class="modal-content">
                        <input id="instructorId" type="hidden" />
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete <span id="delete-description"></span> ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" id="btn-confirm-delete" class="btn btn-danger">Delete</button>
                        </div>
                    </div>                  
                </div>
            </div>
    </div>
    
   
</section>
@section Scripts{ 
    <script>
        var filterValues = {};

        $('#confirm-delete').on('show.bs.modal', function(e) {         
        });

        var refDataTable = $('#example').dataTable({  
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": false, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once 
            "lengthChange": false,
            //"ajax": {  
            //    "url": "/Instructor/LoadData",  
            //    "type": "POST",  
            //    "datatype": "json",
            //    //"contentType": "application/json"
            //    "data": filterValues
            //},  
            ajax: function (data, callback, settings) {
                filterValues.draw = data.draw;
                filterValues.start = data.start;
                filterValues.length = data.length;
                filterValues.columns = data.columns;
                filterValues.order = data.order;
                $.ajax({
                    url: '/Instructor/LoadData',
                    method: 'POST',
                    data: filterValues,
                    dataType: 'JSON'
                }).done(callback);
            },
            "columnDefs":  
            [{  
                "targets": [0],  
                "visible": true,  
                "searchable": false  
            },{  
                "targets": [5,6,7],
                "orderable": false,
                "searchable": false  
            }],  
            "columns": [  
                { "data": "id", "name": "Id", "autoWidth": true },
                { "data": "firstName", "name": "FirstName", "autoWidth": true},  
                { "data": "surname", "name": "Surname", "autoWidth": true },
                {
                    "data": "hireDate", "name": "hireDate", "autoWidth": true ,
                    render: function(d){
                        return moment(d).format("DD/MM/YYYY");
                    }
                },  
                { "data": "email", "name": "Email", "autoWidth": true },

                { "data": "coursesList", "name": "Courses", "autoWidth": true},

                {  
                    "render": function (data, type, full, meta)  
                    { return '<a class="btn btn-primary btn-sm" href="/Instructor/Edit/' + full.id + '">Edit</a>'; }  
                },  
                {  
                    data: null, render: function (data, type, row)  
                    {  
                        return "<a class='btn btn-danger btn-sm editor_remove' onclick=DeleteData('" + row.id + "'); >Delete</a>";  
                    }
                }
            ]  
        }); 
       
        function DeleteData(id)  
        {  
            $("#instructorId").val(id);
            // $('#delete-description').text(name);
            $('#confirm-delete').modal('show');           
        }  
  
        $('#btn-confirm-delete').click(function () {
            var id = $("#instructorId").val();
            if (id != '') {               
                $.ajax({
                    url: '/Instructor/Delete/'+ id,
                    type: 'post',                  
                    dataType: 'json',
                    contentType: 'json',
                    success: function (data) {
                        refDataTable.fnDraw();
                        $('#confirm-delete').modal('hide');
                    }, error: function (err) {

                        console.log(err);
                    }
                })
            }

        })        

        $("#filterBtn").click(function () {
            filterValues.firstname = $("#filterFirstName").val();
            filterValues.surname = $("#filterSurname").val();         
            refDataTable.fnDraw();
        });
        $(".dtsearch").keyup(function () {
            filterValues.firstname = $("#filterFirstName").val();
            filterValues.surname = $("#filterSurname").val();
            refDataTable.fnDraw();
        })
    </script>
}
