@model LearnToExcel.Core.Models.InstructorViewModels.InstructorIndexData
@{
    ViewBag.Title = "Instructors";

}
<section class="content-header">
    <h1>Instructors</h1>
    <br /> 
    <div class="box box-primary">
      
        <!-- /.box-header -->
        <div class="box-body">
            <p>
                <a asp-controller="Instructor" asp-action="Create">Create New Instructor</a>
                
            </p>
            
            @*<table class="table table-bordered">
                <tr>
                    <th>Id</th>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Start Date</th>
                    <th>Email</th>
                    <th>Courses</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Instructors)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HireDate)
                        </td>
                        <td>@item.Email</td>
                        <td>
                            @{
                                foreach (var course in item.Courses)
                                {
                                    @course.CourseId
                                    @: @course.Title - @course.Department.Name <br/>
                                }
                            }
                        </td>

                        <td>
                            <a class="btn btn-link" asp-controller="Instructor" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-link" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                            
                            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-open" role="document">
                                    <div class="modal-content">
                                        <form method="post" asp-controller="Instructor" asp-action="Delete" asp-route-id="@item.Id" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete: @item.FirstName &nbsp; @item.Surname ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </table>*@
            
            <table id="example" class="table table-bordered table-striped nowrap">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Surname</th>
                    <th>First Name</th>
                    <th>Start Date</th>
                    <th>Email</th>
                    <th>Courses</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    
   
</section>
@section Scripts{ 
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {         
        });

        $('#example').dataTable({  
            "processing": true, // for show progress bar  
            "serverSide": true, // for process server side  
            "filter": true, // this is for disable filter (search box)  
            "orderMulti": false, // for disable multiple column at once  
            "ajax": {  
                "url": "/Instructor/LoadData",  
                "type": "POST",  
                "datatype": "json",
                //"contentType": "application/json"
            },  
            "columnDefs":  
            [{  
                "targets": [0],  
                "visible": false,  
                "searchable": false  
            }],  
            "columns": [  
                { "data": "id", "name": "Id", "autoWidth": true },
                { "data": "firstName", "name": "FirstName", "autoWidth": true},  
                { "data": "surname", "name": "Surname", "autoWidth": true },  
                { "data": "hireDate", "name": "StartDate", "autoWidth": true },  
                { "data": "email", "name": "Email", "autoWidth": true },

                { "data": "coursesList", "name": "Courses", "autoWidth": true },

                {  
                    "render": function (data, type, full, meta)  
                    { return '<a class="btn btn-info" href="/Instructor/Edit/' + full.Id + '">Edit</a>'; }  
                },  
                {  
                    data: null, render: function (data, type, row)  
                    {  
                        return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";  
                    }  
                }
            ]  
        }); 

        function DeleteData(id)  
        {  
            if (confirm("Are you sure you want to delete ...?"))  
            {  
                Delete(id);  
            }  
            else  
            {  
                return false;  
            }  
        }  
  
  
        function Delete(id)  
        {  
            var url = '@Url.Content("~/")' + "Instructor/Delete";  
  
            $.post(url, { id: id }, function (data)  
            {  
                if (data)  
                {  
                    oTable = $('#example').DataTable();  
                    oTable.draw();  
                }  
                else  
                {  
                    alert("Something Went Wrong!");  
                }  
            });  
        }  
    </script>
}
